
/* Navbar CSS start */
.navbar {
    /* height: 4rem; */
    position: sticky;
    top: 0;
    transition: box-shadow 0.3s ease;
    margin: auto;
    z-index: 1;
}

.navbar .container{
    padding: 1.25rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
}

.navbar.shadow {
    background-color: white;
    box-shadow: 0px 5px 20px 1px var(--theme-color);
    /* box-shadow: 0px 3px #fff; */
}

.navbar i {
    color: var(--theme-color);
    display: inline;
}


.navbar .container .navbar-left {
    font-size: 2rem;
    color: var(--theme-color);
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar .container .navbar-left:hover {
    color: #000dff;
}

.navbar .container .navbar-right {
    display: flex;
    /* justify-content: space-between; */
    /* gap: 2rem; */
}

.navbar-menu {
    display: none;
}

.navbar .navbar-right a {
    text-decoration: none;
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0.2rem 0.6rem;
    font-size: 1.05rem;
    color: #4d4d4d;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease, color 0.3s ease;
    outline: none;
}

/* .navbar .navbar-right a:active {
} */

.navbar .navbar-right a:hover {
    border-bottom-color: var(--theme-color);
    color: var(--theme-color);
}

main {
    /* background-color: white; */
    /* background-color: #afafaf; */
    padding: 0 0.51rem;
}

/* Navbar CSS END */

/* Responsive Desgin start */
@media (max-width: 1024px) {
    .navbar .navbar-menu .fa-x {
        display: none;
    }

    .navbar .navbar-right {
        position: fixed;
        top: 4.9rem;
        right: 0;
        width: 100vw;
        max-width: 360px;
        height: calc(100vh - 3rem);
        transform: translateX(100%);
        /* transition: transform 0.3s ease-out; */
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding: 2rem 0;
        background-color: var(--theme-color);
        transition: transform 0.5s ease-in;
    }

    .navbar .navbar-right.show {
        transform: translatex(0%);
    }

    .navbar .navbar-right a {
        font-size: 1.1rem;
        color: #eeeeee;
        padding: 0.5rem 0;
    }

    .navbar .navbar-right a:hover {
        border-bottom-color: #ffffff;
        color: #ffffff;
    }

    .navbar-menu {
        height: 100%;
        font-size: large;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
}

@media (max-width: 768px) {
    .navbar .navbar-right {
        width: 100vw;
    }
}
