/* Services Section Start */
.services-section {
    padding: 4rem 2.5rem;
    background: linear-gradient(180deg, #f9fbff, #eef4ff);
}

.services-section .services-header {
    text-align: center;
    padding-bottom: 1.5rem;
}

.services-section .services-header h2 {
    padding-bottom: 0.5rem;
}

.services-section .services-header p {
    padding-bottom: 0.5rem;
}

.services-section .services-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 80vw;
    margin: auto;
    text-align: center;
    gap: 2rem;
    padding: 0.5rem 0;
}

.services-section .services-body .services-card {
    border-radius: 1rem;
    padding: 2rem 1rem;
    box-shadow: 0 0.8rem 2rem rgba(0,0,0,0.06);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.services-section .services-body .services-card:hover {
    padding: 2rem 1rem;
    box-shadow: 0px 10px 20px 1px #c6c6c6;
    transform: translateY(-5%);
}

.services-section .services-body .services-card img {
    width: 40%;
    min-width: 10rem;
}
/* Services Section End */

/* Responsive design for 425px */
@media (max-width: 800px) {
    .services-section .services-body {
        grid-template-columns: 1fr 1fr;
    }
}

/* Responsive design for 425px */
@media (max-width: 550px) {
    .services-section .services-body {
        grid-template-columns: 1fr;
    }
}